<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<p th:if="${param.error}" class="error">Wrong user or password</p>
<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
        <label class="form-check-label" for="remember-me" >Remember me?</label>
    </div>

    <input type="submit" value="Log in" />
</form>
</body>
</html>